# {{title}}

See the published version of this post at: https://adrian.pw/blog/{{slug}}

Open an executable version on Binder at: https://mybinder.org/v2/gh/adrn-blog/post--{{slug}}/executed?labpath=post.ipynb
